<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Demo EverShop E2E Automation">
    <test name="loginPageTest">
        <classes>
            <class name="com.everShop.LoginTestCase">
                <methods>
                    <include name="FetchProductDetailsFromCheckoutPage"></include>
                </methods>
            </class>
        </classes>
    </test>
</suite>